html {
    width: 100%;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    background-color: #292929;
    min-width: 600px;
    max-width: 1100px;
    min-height: 500px;
    max-height: 800px;
    width: 80%;
    height: 99%;
    margin: auto;
    padding-left: 2em;
    padding-right: 2em;
}

.content {
    margin: 2em;
}

h1 {
    margin: 3.5em 0 0 0;
    line-height: 1em;
    color: #b3b3b3;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 0.97em;
    text-transform: uppercase;
}


/* footer */

#footer {
    position: absolute;
    right: 19.6%;
    bottom: inherit;
}

#docsbutton {
    text-align: center;
    font-size: 1em;
    width: 100px;
    float: left;
    color: #a0a0a0;
    border: 0px solid #a0a0a0;
    background-color: transparent;
}

a:link {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #a0a0a0;
}

a:visited {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #a0a0a0;
}

a:hover, a:focus, a:active {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #50787a;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    text-justify: inter-word;
    color: #a0a0a0;
    max-width: 800px;
}


.bk-root {
    height: 100%;
    padding-top: 1em;
}

/* No cursor on hover */

.bk-root .bk-canvas-events:hover {
    cursor: none !important
}

/* spectrogram example div */

.legend_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: 176px;
    max-width: 300px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    margin-top: -8px;
    margin-left: 4px;
    margin-bottom: 1em;
    column-gap: 0.4em;
    flex-direction: column;
    justify-content: flex-end;
    align-content: space-between;
}

.legend_container {
    position: relative;
    min-width: 60%;
}

.legend_image {
    opacity: 1;
    width: 100%;
    height: auto;
    display: block;
    margin: 3px;
    max-height: 100px;
    max-width: 100px;
}

.legend_img_label_container {
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 4%;
    left: 8%;
    color: #949494;
    font-size: 1.2em;
}

/* legend_img_label {
    position: absolute;
    bottom: 8px;
    left: 8px;
    padding: 16px 32px;
} */

span mark-asterisk {
    font-size: 1.6em;
    position: absolute;
    top: -0.5em;
    left: 0.7em;
}

span mark-circle {
    font-size: 1.4em;
    position: absolute;
    top: -0.32em;
    left: 0.6em;
}

span mark-diamond {
    font-size: 1.3em;
    position: absolute;
    top: -0.25em;
    left: 0.58em;
}

span mark-hex {
    font-size: 0.9em;
    position: absolute;
    top: -0.04em;
    left: 0.9em;
}

span mark-inverted_triangle {
    font-size: 1em;
    position: absolute;
    top: -0.08em;
    left: 0.7em;
}

span mark-plus {
    font-size: 1.1em;
    position: absolute;
    top: -0.14em;
    left: 0.7em;
}

span mark-square {
    font-size: 1.3em;
    position: absolute;
    top: -0.27em;
    left: 0.7em;
}

span mark-star {
    font-size: 1.2em;
    position: absolute;
    top: -0.2em;
    left: 0.6em;
}

span mark-triangle {
    font-size: 1.2em;
    position: absolute;
    top: -0.21em;
    left: 0.6em;
}

/* Button/menu aesthetics */


img.sample_tools {
    vertical-align: middle;
    display: inline;
    width: 1em;
    color: grey;
}



.keyboard_key {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    text-align: justify;
    text-justify: inter-word;
    color: #a0a0a0;
    font-weight: 1000;
    vertical-align: -10%;

}

.keyboard_key_small {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    text-align: justify;
    text-justify: inter-word;
    color: #a0a0a0;
    font-weight: 1000
}


.button_div {
    position: relative !important;
    display: block !important;
    left: -5px !important;
    top: -1px !important;
    width: auto !important;
    height: 27px !important;
    margin: 0px !important;
}

.bk-root .label_button {
    width: 80px !important;
    position: relative;
    /* TODO: align properly */
    margin: 0px;
}

.bk-root .next_button {
    width: 80px !important;
    position: relative;
    /* TODO: align properly */
    margin: 0px;
}

.bk-root .close_button {
    width: 80px !important;
    position: relative;
    /* TODO: align properly */
    margin: 0px;
}

.bk-root .bk-btn-default {
    color: #adadad;
    background-color: #2F2F2F;
    border-color: #1a1a1a;
}

.bk-root .bk-btn-default:active {
    color: #adadad;
    background-color: #2F2F2F;
    border-color: #1a1a1a;
}

.bk-root .bk-btn-default:hover {
    color: #adadad;
    background-color: #2F2F2F;
    border-color: #1a1a1a;
}

.bk-root .bk-menu {
    color: #adadad;
    background-color: #2F2F2F;
    border-color: #1a1a1a;
    line-height: 1.3;
    width: 80px
}

.bk-root .bk-menu a:hover {
    color: #adadad;
    background-color: #2F2F2F !important;
    border-color: #1a1a1a;
    line-height: 1.3;
    width: 80px
}


.bk-root .bk-above .bk-toolbar-button.bk-active {
    border-bottom-color: #50787a;
}

/* Help text */

.bk-root .help_text {
    width: 100% !important;
    font-size: 1em;
    color: #9c9c9c;
}

/* Tooltips, hovertool */

.bk-root .bk-tooltip.bk-tooltip-custom {
    font-weight: 300;
    font-size: 12px;
    padding: 4px;
    border: none;
    color: #2f2f2f;
    background-color: rgb(56, 56, 56);
    pointer-events: none;
    opacity: 0.95;
    z-index: 100;
}

/* Spectrograms */

/* Container holding image and label */

.hover_img {
    opacity: .85;
}

.hover_container {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0);
}

/* Bottom left text (spectrograms) */

.image_label {
    position: absolute;
    bottom: 8px;
    left: 8px;
    color: #949494;
    font-size: 1.2em;
    font-weight: bold;
}

.bk-root .bk, .bk-root .bk:before, .bk-root .bk:after {
    box-sizing: inherit;
    margin: 0;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: 1;
}

/* ROW AND COLUMN LAYOUT ──────────────────────────────────────────────────── */


img.pykanto_logo {
    vertical-align: bottom;
    width: 200px;
    padding-top: 2.75em;

}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 190px;

}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.pykanto-column {
    height: 100px;
    width: 205px;

}

.interactive-column {
    height: 100px;
    width: 220px;
}