div.navbar-brand-box {
    padding-top: 1em;
}

a.reference.internal {
    color: #444444 !important
}

a.reference.internal:hover {
    color: #da6900 !important
}

a.current.reference.internal:hover {
    color: #da6900 !important
}

a.reference.external {
    color: #176685 !important;
}

a.reference.external:hover {
    color: #da6900 !important
}

a.current.reference.external:hover {
    color: #da6900 !important
}

a:link {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
    color: #da6900 !important
}


a.reference.internal span.doc.std.std-doc {
    color: #176685
}

a.reference.internal span.doc.std.std-doc:hover {
    color: #da6900
}

/* LOGO ───────────────────────────────────────────────────────────────────── */

div.navbar-brand-box a.navbar-brand img {
    display: block;
    height: auto;
    width: auto;
    max-height: 10vh;
    max-width: 90%;
    margin: 0 auto;
    margin-left: -1%;

}

.navbar-brand {
    position: relative;
    height: var(--pst-header-height);
    width: auto;
    padding: 0.5rem 0;
    padding-top: 1.21em;
    padding-bottom: 0em;


}

/* SEARCH ─────────────────────────────────────────────────────────────────── */

.bd-search .icon {
    position: absolute;
    color: #a4a6a7;
    left: 25px;
    top: 27px;
}

.form-control:focus {
    color: #495057;
    background-color: rgba(214, 214, 214, 0.247);
    border-color: #8d8d8d;
    outline: 0;
    box-shadow: none;
}



/* GENERAL LAYOUT ─────────────────────────────────────────────────────────── */


.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 0;
}

/* menu button */
.fas.fa-bars {
    font-weight: 900;
    margin-left: 15px;
}


.topbar .topbar-main {
    padding-top: 2t.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0;
}

.topbar .topbar-main button.topbarbtn {
    margin-top: 0px;
    margin-right: 0em;
    margin-bottom: 0px;
    margin-left: -0.2em;
    background-color: white;
    color: #727272;
    border: none;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-size: 1.4em;
}


/* menu sidebar */
.bd-toc-item.active {
    margin-bottom: 1rem;
    margin-right: 1em;
}

main.bd-content #main-content, main.bd-content #print-main-content {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}


.bd-sidebar .nav li>a {
    display: block;
    padding: 0.1rem 0rem;
    color: rgba(var(--pst-color-sidebar-link), 1);
}


@media (min-width: 720px) and (max-width: 768px) {
    .col-md-3 {
        flex: 0 0 25%;
        max-width: none !important;
    }
}

/* HEADING STYLES ─────────────────────────────────────────────────────────── */

main.bd-content #main-content h1, main.bd-content #main-content h2, main.bd-content #main-content h3, main.bd-content #main-content h4, main.bd-content #main-content h5, main.bd-content #print-main-content h1, main.bd-content #print-main-content h2, main.bd-content #print-main-content h3, main.bd-content #print-main-content h4, main.bd-content #print-main-content h5 {
    color: #444444;
    font-weight: 600;
}

.h1, h1 {
    font-size: 1.8rem;
}

.h2, h2 {
    font-size: 1.3rem;

}




/* GENERAL TEXT COLOURS ───────────────────────────────────────────────────── */

a {
    color: #979797;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


.prev-next-area a p.prev-next-title {
    color: #8f8f8f;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none
}


.prev-next-area a:hover p.prev-next-title {
    text-decoration: none;
    color: #da6900
}


main.bd-content #main-content a, main.bd-content #main-content a:visited, main.bd-content #print-main-content a, main.bd-content #print-main-content a:visited {
    color: #808080;
}

.prev-next-area a .prev-next-info {
    flex-direction: column;
    margin: 0 0.5em;
    font-size: 0.9em;
}



/* code boxes, warnings and notes */


.admonition, div.admonition {
    margin: 1.5625em auto;
    padding: 0 0.6rem 0.8rem;
    overflow: hidden;
    page-break-inside: avoid;
    border-left: none;
    border-radius: 0.4rem;
    box-shadow: none;
    transition: color .25s, background-color .25s, border-color .25s;
}

/* warning */

.admonition.warning>.admonition-title:before, div.admonition.warning>.admonition-title:before {
    color: #a74004;
    margin-top: -1px;
    content: var(--pst-icon-admonition-warning);
}

.admonition.warning>.admonition-title, div.admonition.warning>.admonition-title {
    background-color: #e478304f;
}

.admonition.warning, div.admonition.warning {
    background-color: #e07b4023;
}

/* note */

.admonition.note>.admonition-title, div.admonition.note>.admonition-title {
    background-color: #a1c7dd49;
}

.admonition.note, div.admonition.note {
    background-color: #a1c7dd28;
}

.admonition>.admonition-title, div.admonition>.admonition-title {
    position: relative;
    margin: 0 -0.6rem;
    padding: 0.4rem 0.6rem 0.4rem 2rem;
    font-weight: 700;
    background-color: #a1c7dd;
}


/* tip */

.admonition.tip>.admonition-title, div.admonition.tip>.admonition-title {
    background-color: #e2aa3159;
}

.admonition.tip, div.admonition.tip {
    background-color: #ddcaa148;
    border-color: none;
}

.admonition.tip>.admonition-title:before, div.admonition.tip>.admonition-title:before {
    color: #ffa600fa;
    content: var(--pst-icon-admonition-tip);
}

/* general */

.admonition, div.admonition {
    margin: 1.5625em auto;
    padding: 0 0.6rem 0.8rem;
    overflow: hidden;
    page-break-inside: avoid;
    border-left: none;
    border-radius: 0.4rem;
    box-shadow: none;
    background-color: #a1c7dd48;
    transition: color .25s, background-color .25s, border-color .25s;
}


/* functions and code */


.sig-prename, code.descclassname {
    background-color: transparent;
    color: #464646
}

.sig-name {
    color: #da6900;
}

.sig-name.descname {
    font-size: 1em
}

.sig-paren {
    font-size: larger;
    padding-left: 0.3em;
}

.sig-param {
    color: #7c7c7c
}

.sig-return {
    color: #7c7c7c;
}

.sig-return-icon {
    color: #000000;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 7px;

}

/* class and function boxes */
main.bd-content #main-content dl.module:not(.docutils) dt, main.bd-content #main-content dl.class:not(.docutils) dt, main.bd-content #main-content dl.exception:not(.docutils) dt, main.bd-content #main-content dl.function:not(.docutils) dt, main.bd-content #main-content dl.decorator:not(.docutils) dt, main.bd-content #main-content dl.data:not(.docutils) dt, main.bd-content #main-content dl.method:not(.docutils) dt, main.bd-content #main-content dl.attribute:not(.docutils) dt, main.bd-content #print-main-content dl.module:not(.docutils) dt, main.bd-content #print-main-content dl.class:not(.docutils) dt, main.bd-content #print-main-content dl.exception:not(.docutils) dt, main.bd-content #print-main-content dl.function:not(.docutils) dt, main.bd-content #print-main-content dl.decorator:not(.docutils) dt, main.bd-content #print-main-content dl.data:not(.docutils) dt, main.bd-content #print-main-content dl.method:not(.docutils) dt, main.bd-content #print-main-content dl.attribute:not(.docutils) dt {
    display: table;
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #e9e9e97a;
    color: #dbdbdb;
    border-top: 5px solid #686868;
    padding: 9px;
    border-radius: 0.4em;
    position: relative;
}

/* parameter and argument boxes */
main.bd-content #main-content dl.module:not(.docutils) dl dt, main.bd-content #main-content dl.class:not(.docutils) dl dt, main.bd-content #main-content dl.exception:not(.docutils) dl dt, main.bd-content #main-content dl.function:not(.docutils) dl dt, main.bd-content #main-content dl.decorator:not(.docutils) dl dt, main.bd-content #main-content dl.data:not(.docutils) dl dt, main.bd-content #main-content dl.method:not(.docutils) dl dt, main.bd-content #main-content dl.attribute:not(.docutils) dl dt, main.bd-content #print-main-content dl.module:not(.docutils) dl dt, main.bd-content #print-main-content dl.class:not(.docutils) dl dt, main.bd-content #print-main-content dl.exception:not(.docutils) dl dt, main.bd-content #print-main-content dl.function:not(.docutils) dl dt, main.bd-content #print-main-content dl.decorator:not(.docutils) dl dt, main.bd-content #print-main-content dl.data:not(.docutils) dl dt, main.bd-content #print-main-content dl.method:not(.docutils) dl dt, main.bd-content #print-main-content dl.attribute:not(.docutils) dl dt {
    margin-bottom: none;
    border: none;
    border-left: none;
    background: #e9e9e97a;
    color: rgb(48, 48, 48);
}


/* source link */
main.bd-content #main-content dl.module .viewcode-link, main.bd-content #main-content dl.class .viewcode-link, main.bd-content #main-content dl.exception .viewcode-link, main.bd-content #main-content dl.function .viewcode-link, main.bd-content #main-content dl.decorator .viewcode-link, main.bd-content #main-content dl.data .viewcode-link, main.bd-content #main-content dl.method .viewcode-link, main.bd-content #main-content dl.attribute .viewcode-link, main.bd-content #print-main-content dl.module .viewcode-link, main.bd-content #print-main-content dl.class .viewcode-link, main.bd-content #print-main-content dl.exception .viewcode-link, main.bd-content #print-main-content dl.function .viewcode-link, main.bd-content #print-main-content dl.decorator .viewcode-link, main.bd-content #print-main-content dl.data .viewcode-link, main.bd-content #print-main-content dl.method .viewcode-link, main.bd-content #print-main-content dl.attribute .viewcode-link {
    display: inline-block;
    color: #78adcc;
    font-size: 80%;
    padding-left: 24px;
    padding-top: 2px;
}



/* quote boxes */

blockquote.pull-quote, blockquote.epigraph, blockquote.highlights {
    font-size: 1em;
    border-left: none;
}



/* JUPYTER CODE CELLS ─────────────────────────────────────────────────────── */


details.toggle-details summary {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    list-style: none;
    border-radius: 0.4em;
    border: none;
    background: none;
    padding: 0.4em 1em 0.4em 0.5em;
    font-size: .9em;
    margin-left: auto;
    margin-right: 0;
}


/* output tables */

div.cell_output table {
    border: none;
    border-collapse: collapse;
    /* border-spacing: 15px 50px; */
    color: rgb(29, 29, 29);
    font-size: 0.7em;
    /* border-spacing: 65px !important; */
    table-layout: fixed;
}

.output.text_html {
    border: none;
    box-shadow: none;
    overflow-y: hidden !important;
    overflow-x: scroll;
}


div.cell_output tr, div.cell_output th, div.cell_output td {
    text-align: left;
    vertical-align: middle;
    padding: 0em 0.7em;
    line-height: 1em;
    white-space: normal;
    max-width: none;
    border: none;
}

/* output */

.cell_output .output.stderr {
    background: none;
}

details.toggle-details {
    margin: 0.4em 0;
}

details.toggle-details summary {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    list-style: none;
    border-radius: 0.4em;
    border: none;
    background: none;
    padding: 0.4em 1em 0.4em 0.5em;
    font-size: .8em;
    margin-left: auto;
    margin-right: 0;
}


/* AUTOSUMMARY ────────────────────────────────────────────────────────────── */

table.longtable.table.autosummary {
    font-size: 0.9em;
    line-height: 1rem;
    border-bottom: 1px solid #e1e4e5;

}

tr.row-odd {
    border-top: 0;
    background-color: rgba(223, 223, 223, 0.199);
}

td:first-child {
    border-right: 1px solid #e1e4e5;
    padding-top: 8px;
    padding-left: 8px;
}

.table td, .table th {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table {
    width: 100%;
    margin-bottom: 1.5rem;
    color: #212529;
}

/* CODE HIGHLIGHTING ──────────────────────────────────────────────────────── */

code.xref, a code {
    background-color: transparent;
    font-weight: bold;
    color: #da6900;
    padding-right: 0.2em;
}

code.xref:link:hover {
    background-color: transparent;
    font-weight: bold;
    color: #444444;
    padding-right: 0.2em;
}


code {
    color: #da6900;
    font-size: 0.9em !important;
    font-family: monospace;
    word-wrap: break-word;
}


div.cell div.cell_input {
    padding-left: 0em;
    padding-right: 0em;
    border: none;
    background-color: transparent !important;
    border-left-color: none;
    border-left-width: none;
}

div.highlight pre, table.highlighttable pre {
    margin: 0;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: none;
    border: none;
    background-color: #f7f7f7;
    white-space: break-spaces;
}

/* >>> */
.highlight .gp {
    color: #d17009;
}

.highlight .c1 {
    color: #5c9ab9;
    font-style: italic;
}

.highlight .kc {
    color: #e98200;
    font-weight: bold;
}

.highlight .s2 {
    color: #1c7787;
}

.highlight .s1 {
    color: #1c7787;
}

.highlight .k {
    color: #da6900;
    font-weight: bold;
}

.highlight .ow {
    color: #da6900;
    font-weight: bold;
}

.highlight .mi {
    color: #6619cb;
    font-weight: bold;
}

.highlight .mf {
    color: #6619cb;
    font-weight: bold;
}

.highlight .nn {
    color: #cd680f;
    font-weight: bold;
}

.highlight .kn {
    color: #296589;
    font-weight: bold;
}

.highlight .bp {
    color: #1a71a5;
}

.highlight .nb {
    color: #059977;
}

.highlight .s1 {
    color: #00764b;
}

span.linenos {
    color: #8f8f8f;
    font-weight: normal;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 10px;

}


/* FOOTER ─────────────────────────────────────────────────────────────────── */

hr {
    border: none;
    border-top: none;
}

footer {
    padding-left: 15px;
    font-size: 0.8em;
    line-height: 0.1;
    padding-bottom: 2em;
    width: 77%;
    border-top: 1px solid #ccc;
}


/* EXTRA ──────────────────────────────────────────────────────────────────── */

main.bd-content #main-content dl.module dt .headerlink:after, main.bd-content #main-content dl.class dt .headerlink:after, main.bd-content #main-content dl.exception dt .headerlink:after, main.bd-content #main-content dl.function dt .headerlink:after, main.bd-content #main-content dl.decorator dt .headerlink:after, main.bd-content #main-content dl.data dt .headerlink:after, main.bd-content #main-content dl.method dt .headerlink:after, main.bd-content #main-content dl.attribute dt .headerlink:after, main.bd-content #print-main-content dl.module dt .headerlink:after, main.bd-content #print-main-content dl.class dt .headerlink:after, main.bd-content #print-main-content dl.exception dt .headerlink:after, main.bd-content #print-main-content dl.function dt .headerlink:after, main.bd-content #print-main-content dl.decorator dt .headerlink:after, main.bd-content #print-main-content dl.data dt .headerlink:after, main.bd-content #print-main-content dl.method dt .headerlink:after, main.bd-content #print-main-content dl.attribute dt .headerlink:after {
    content: "¶";
}


.headerlink:after {
    content: '¶';
    visibility: visible;
    margin-left: 0em
}

.headerlink {
    content: '¶';
    visibility: hidden !important;

}

main.bd-content #main-content a.headerlink, main.bd-content #print-main-content a.headerlink {
    opacity: 0;
    margin-left: -0.5em;
    padding-top: -0.7em;
}